<div>
  <h1 style="text-align: center">Gráficos de barra</h1>

  <hr>

  <div>
    <h2>Gastos en el mes <b><%= l(@tiempo, locale: :es) %></b></h2>
    <%= column_chart @gastos_mes_actual, colors: ["#c53434"], prefix: "$", thousands: ",", empty: "No hay datos" %>
  </div>
  <hr>
  <div>
    <h2>Gastos en los últimos 12 meses</h2>
    <%= column_chart @gastos_ultimos_meses_member, colors: ["#c53434"], prefix: "$", thousands: ",", empty: "No hay datos" %>
  </div>
<div>