<% if current_user.Admin? %>
  <h5 class="header-transactions">Tus movimientos de la vivienda: <%= @housing.name %></h5>
  <%= render 'index_admin', dashboar: @dashboard %>
  <% else %>
  <h5 class="header-transactions">Estas viendo los gastos compartidos de la vivienda: <%= @housing.name %></h5>
  <%= render 'index_member', dashboar: @dashboard %>
<% end %>