<h1 class="m-4 text-center">Pr贸ximamente..</h1>

<div class="login p-3" style="border-radius: 50px 20px">
  <h5>Estamos trabajando en las siguientes funcionalidades: </h5>
  <ul>
    <li class="pb-2">
      - Proyecci贸n de los pr贸ximos meses, seg煤n tus 煤ltimos ingresos y gastos.
    </li>
    <li class="pb-2">
      - Simulaci贸n de resultado mensual, basado en un gasto planificado.
    </li>
    <li class="pb-2">
      - Versi贸n para emprendedores y Pymes.
    </li>
  </ul>
</div>