<h1 class="m-4 text-center">Próximamente..</h1>

<div>
  <h6>Estamos trabajando en las siguientes funcionalidades: </h6>
  <ul>
    <li>
      - Proyección de los próximos meses, según tus últimos ingresos y gastos.
    </li>
    <li>
      - Simular un resultado mensual, basado en un gasto planificado.
    </li>
  </ul>
</div>