<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Te has registrado en Chanchito Sano, <%= @user.name %>!</h1>
    <p>Ahora disfruta de la aplicación y ten un muy buen día </p>
  </body>
</html>