<%= form_tag(create_member_path(params[:id]), remote: true, class:"form-group") do %>
  <div>
    <%= email_field_tag 'email', nil, placeholder: "example@email.com", class: 'form-control' %>
    <%= hidden_field_tag 'housing', params[:id] %>
    <%= submit_tag 'Invitar', data: { disable_with: "Enviando invitación..." }, class: "btn btn-success" %>
  </div>
<% end %>
