/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0px !important;
}

.nv-perfomance {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 0px 0px 15px 15px;
}

nav a, nav span {
  color: white !important;
  text-decoration: none !important;
  background-color: transparent !important;
  width: fit-content;
}

nav .btn-success {
  background-color: #28a745 !important;
}

body a {
  color: white !important;
}

nav .btn-danger {
  background-color: #dc3545 !important;
}

.svg-icon {
  fill: white;
  width: 30px;
  height: 30px
}

.svg-icon:hover {
  fill: gray;
}

.svg-icon-body {
  fill: gray;
  width: 30px;
  height: 30px;
  background-color: inherit;
}

#add-button a {
  background-color: transparent !important;
  box-shadow: -4px 20px 9px -5px #000000;
}

li {
  list-style: none;
}

img.img-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid gray;
}

.btn-info {
  border-color: steelblue !important;
  background-color: steelblue !important;
}

.wrap {
  border: solid;
}

.housing-active {
  color: #28a745;
  font-size: x-large;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 992px) {

  /*Estilo y posición de los hr*/
  .btn-info {
    margin-top: 1em;
  }

  .index-mobile {
    text-align: center;
  }
  
  a {
    color: white !important;
  }

  .icons-navbar-mobile {
    margin: 1em;
  }

  .item-navbar-mobile {
    margin-top: 1em;
  }

  hr {
    width: 97%;
    background-color: white;
    margin: 0;
  }
}

@media (min-width: 991px) {
  .index-mobile {
    display: none;
  }
}