<% if current_user.Member? %>
  <h3>Eres miembro de la vivienda: <%= @housing %></h3>
  <%= render 'index_member', transaction: @transaction %>
  <% else %>
  <h3>Eres administrador de la vivienda: <%= @housing %></h3>
  <%= render 'index_admin', transaction: @transaction %>
<% end %>