<% if current_user.Member? %>
  <h1>Eres miembro de la vivienda</h1>
  <%= render 'index_member', transaction: @transaction %>
  <% else %>
  <h1>Eres administrador de la vivienda</h1>
  <%= render 'index_admin', transaction: @transaction %>
<% end %>